body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0D3B66, #FF6F61);
    color: #333;
    line-height: 1.6;

  }

#navbar {
    position: sticky;
    top: 0;
    height: 8vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    padding: 1vh 2vw; 
    z-index: 100;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

#navbar .navbar-logo {
  font-size: 1.5vw; 
  font-weight: bold;
  color: #FF8C42; 
  text-decoration: none;
}

#navbar .navbar-links {
  list-style: none;
  display: flex;
}

#navbar .navbar-links li {
  margin: 0 2vw;
}

#navbar .navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5vw; 
  transition: color 0.3s;
}

#navbar .navbar-links a:hover {
  color: #FF8C42;
}

#main {
  height: 100vh; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 8vw;
}

.main-area {
  max-width: 50%;
}

h1 {
  font-size: 4vw; 
  color: #FFD166; 
  margin: 0
}

p {
  font-size: 2vw; 
}

.main-link {
  text-decoration: none;
  padding: 1.5vh 3vw;
  background-color: #FF8C42;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.main-link:hover {
  background-color: #D15448;
}

.main-img img {
  width: 30vw; 
  height: 30vw;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
#role {
    font-size:2vw;
    font-weight: bold;
    height: 5vh; 
    overflow: hidden; 
    white-space: nowrap; 
    display: inline-block;
    margin: 0;
    padding: 0;
}
#second {
  background-color: white;
  width: 100%;
  height: 40vh; 
  margin-bottom: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#second .second-section p{
  font-size: 1vw;
  font-weight: bold;
  padding: 1.5vh 3vw;
  background-color: #FF8C42;
  color: white;
  border-radius: 50px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin: 0; 
  display: inline-block;
}
#thrid {
  background: linear-gradient(45deg, #FF6F61, #FFD166, #3A3A3A);
  width: 100%;
  height: 80vh; 
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #navbar {
    height: 5vh;
  }

#navbar .navbar-logo {
  font-size: 4vw; 
}


#navbar .navbar-links a {
  font-size: 2.5vw; 
}


#main {
  height: 75vh; 

}

.main-area {
  max-width: 50%;
}

h1 {
  font-size: 8vw; 
  margin-bottom: 1vh;
}

p {
  font-size: 4vw; 
  margin: 1.5vh 0;
}

.main-link {
  padding: 1.5vh 3vw;
  border-radius: 50px;
}

.main-img img {
  width: 20vw; 
  height: 40vw;

}
#role {
    font-size:4vw;
    height: 5vh; 
}
}
#second .second-section p {
  font-size: 2vh;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  #navbar {
    height: 6vh;
  }

#navbar .navbar-logo {
  font-size: 3vw; 
  margin-bottom: 1vh;
}


#navbar .navbar-links a {
  font-size: 2vw; 
  margin-bottom: 2vh;
}


#main {
  height: 85vh; 

}

.main-area {
  max-width: 50%;
}

h1 {
  font-size: 5.5vw; 
  margin-bottom: 1vh;
}

p {
  font-size: 4vw; 
  margin: 1.5vh 0;
}

.main-link {
  padding: 1.5vh 3vw;
  border-radius: 50px;
}

.main-img img {
  width: 30vw; 
  height: 40vw;

}
#role {
    font-size:3.5vw;
    height: 5vh; 
}
  
}
